    @import "../variable/colors"; 
    #about-section{
        hr{
            background-color:$main-color;
            margin: 50px auto;
        }
        .top{
            margin: 100px 0;
            text-align: center;
        h4{
            color: $main-color;
            font-size: 35px;
            span{
                color: $black-color;
            }
        }
        hr{
            width: 50px;
            height: 2px;
            background-color:$main-color;
            margin: 10px auto;
        }
        p{
            color: $main-color;
            }
    }
    .bottom{
        display: flex;
        justify-content: space-around;
        align-items: center;
            .left img{
                width: 100%;
            }
            .right{
                width: 40%;
                float: left;
            h5{
                color: $main-color;
                font-weight: lighter;
                font-size: 30px;
                span{
                    font-weight: bold;
                    color: $black-color;
                }
            }
            p{
                color: $main-color;
                margin: 50px 0;
            }
            a{
                padding: 10px 20px;
                background-color: $black-color;
                color: $primary-color;
                border-radius: 5px;
                font-weight: bold;
                transition: .4s;
            }
            a:hover{
                background-color: $black-color;
            }
        }
    }
}